/* 這裡面寫css的語法 */
/* 標籤名稱選擇器 */
span{font-weight: bold;}
body{background-color: #cccccc;font-family:"微軟正黑體","新細明體"}
/* ID選擇器 */
#del{text-decoration: line-through;}
/* Class選擇器 */
.all{background-color:#d2e6f3}
.title{font-size:15px;font-weight:bold}
.content{margin-top:10px;border:3px dashed rgb(176, 176, 199);padding:10px;width:150px}
.keyword{color:#9536bb}
.underline{text-decoration: underline;}